.root {
	-fx-background-image: url("../images/city.png");
	-fx-background-repeat: no-repeat;
}

.border-pane {
	-fx-pref-height: 600px;
	-fx-pref-width: 1000px;
}

.pane {
	-fx-pref-height: 550px;
	-fx-pref-width: 1000px;
}

.menu-button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.menu-button:hover {
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.split-pane {
	-fx-background-color: #c0c0c0;
}

#statistics {
	-fx-background-color: #c0c0c0;
}
